@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Asap", sans-serif;

}
a {
    text-decoration: none;
}
.container {
    background-color: #16181D;
    background-position: center;
}

.bio {
    background-image: url("./assets/bg-contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-block: 128px 56px;
}

.avatar img {
    width: 150px;
    display: flex;
    border: 3px solid #E3646E;
    border-radius: 50%;
    
    
}

.text p {
    font-family: "Inconsolata", monospace;
    margin-top: 64px;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #C0C4CE;

}
.text span {
    color: #e3646e;
}

.text h1 {
    
    color: #cccccc;
    font-size: 56px;
    line-height: 84px;
    font-weight: 700;
    justify-content: center;
}

.text h3 {
    margin: 20px 80px;
    text-align: center;
    color: #878ea1;
    font-family: "Maven Pro", sans-serif;
    font-size: 16px;
    line-height: 19.6px;
}

.badges {
    display: flex;
    gap: 17px;
    
    justify-content: center;
}
.content-icons {
    display: flex;
    background-color: #292c34;
    border-radius: 15px;
    padding: 8px 17px;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    
}
.content-icons span {
    color: #C0c4ce;
    font-family: "Maven Pro", sans-serif;
    line-height: 22px;
    font-weight: 400;
}

.next {
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 96px 0 129px;
    
    font-weight: 400;
    cursor: pointer;
}

.next:hover {
    opacity: 0.3;
}



.title-description {
    color: #E3646E;
    text-align: center;
    font-family: Inconsolata monospace;
    font-size: 22px;
    line-height: 24px;
}

h2 {
    font-size: 27px;
    margin: 8px 0px  56px;
    text-align: center;
    color: #e2e4e9;
    font-weight: 700;
    line-height: 36px;
    
}
main {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #16181D;
}

.grid-3-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: 0px 120px 144px 120px;
    justify-content: center;
    gap: 24px;
    
    
    
}

.card {
    
    border: 1px solid gray;
    text-decoration: none;
    text-align: center;  
    width: 350px;
    height: 300px;
    background-color: #292C34;
    
    padding: 12px;

    border-radius: 12px;

   

}
.card:hover {
    opacity: 0.8;
}
main .card img {
    width: 306px;
    height: 156px;
    border-radius: 12px;
    margin-bottom: 20px;
    
    
    
}

.subtitle p {
    font-weight: 700;
    font-size: 16px;
    font-family: "Maven Pro", sans-serif;
    color: #e2e4e9;
    margin-bottom: 10px;

    
}

.subtitle span {
    font-size: 14px;
    color: #c0c4ce;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 15px;
    
}

.title {
    font-family: "Inconsolata", monospace;
    font-size: 20px;
    text-align: center;
}

.title p {
    color: #E3646E;
    font-size: 24px;
}


#service {
    
    
    background-color: #0D0E11;
    padding: 88px 120px 120px 120px;
}

figcaption {
    display: block;
    unicode-bidi: isolate;
    
}

.next2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 50px;
    font-weight: 400;
    cursor: pointer;
}
.next2:hover {
    opacity: 0.3;
}
.card-box {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: 0px 120px 144px 120px;
    justify-content: center;
    gap: 25px;
   
    
}
.box {
 
  
    width: 300px;
    height: 160px;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #16181D;
    cursor: pointer;
}

footer {
    background-image: url("./assets/bg-contact.png" );
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px 0px;

}
.title-contato {
    text-align: center;
    color: #BB72E9;
    font-size: 18px;

}
.footer-subtitle  {
    font-size: 27px;
    margin: 8px 0px  16px;
    text-align: center;
    color: #e2e4e9;
    font-weight: 700;
    line-height: 36px;
    
}

.flex-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 48px;
}
.flex-social-item {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 68px;
    padding: 20px;
    border-radius: 8px;
    background: #292c34;
}
.flex-social-item:hover {
    border: 1px solid #3996DB;
}

.footer-p {
    text-align: center;
    font-family: "Maven Pro", sans-serif;
    font-size: 16px;
    line-height: 22.5px;
    color: #C0C4CE;
}

footer span {
    color: #C0C4CE;
    font-weight: 500;
    font-size: 16px;
}
.social-name {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 12px;
}

footer & .social-name img{
    width: 28px;
    height: 28px;
}
footer & .social-name-item img {
    width: 20px;
    height: 20px;
}



@media (max-width: 768px) {
    .grid-3-col {
      grid-template-columns: repeat(2, 1fr); /* 2 colunas para tablets */
    }
  }
  
  @media (max-width: 480px) {
    .grid-3-col {
      grid-template-columns: 1fr; /* 1 coluna para smartphones */
    }
  }